<!DOCTYPE html>
<html>
  <head>
    <title>TottSpat</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %><link href="https://fonts.googleapis.com/css?family=Poiret+One|Sacramento" rel="stylesheet"><link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container-fluid">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>

    <footer style= "margin-top: 50px;">
      <div class="container-fluid">
        <p class="text-muted">Created by <%= link_to 'Kim van Dijk', 'http://dutchkdesign.bitballoon.com' %></p>
      </div>
    </footer>
  </body>
</html>
